body {
    background-color: rgb(228, 105, 240);

}

main 

{
display: grid;
grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr ;
grid-template-rows: 0.5fr 0.4fr 0.5fr 0.5fr;
align-content: space-between;

}

div{

    border: 2px solid black;
    background-color: white;



}

h1{ 
    background-color: rgb(240, 240, 8);
    margin-left: 20px;   
    margin-right: 20px;  
    



}
.p1{
    margin-left: 20px;   
    margin-right: 20px; 
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start:1 ;
    grid-row-end: 2;
     

    }

.p2{
    margin-right: 20px; 
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start:1 ;  
    grid-row-end: 2;
     
    
    
    }

.p3{
    margin-right: 20px;  
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start:1 ;  
    grid-row-end: 2;
   
    
    
    }
    .scrollbar{
        margin-left: 20px;  
        margin-right: 20px;
        background-color: rgb(66, 11, 59);
        grid-column-start:1 ;
        grid-column-end:5 ;
        grid-row-start:2 ;  
        grid-row-end: 3;
        overflow-x:auto;
        overflow-y: auto;
        text-align:justify;
        
                
    
    
    }


    .p4{
        margin-left: 20px;   
        margin-right: 20px; 
        grid-column-start:1 ;
        grid-column-end:2 ;
        grid-row-start:3 ;  
        grid-row-end: 4;
         
            
            
    }
    
    .p5{
        grid-row-end: 4;
        margin-right: 20px;        
        grid-column-start:2 ;
        grid-column-end:3 ;
        grid-row-start:3 ;  
        
        }
    
    
